@page "/contact"
<PageTitle>Contact</PageTitle>

<h1 class="mt-8 text-center text-4xl font-semibold">Contact</h1>

<div class="p-4">
    <img src="/images/overOns.jpg" alt="over ons" class="mb-8 mx-auto" />

<div class="flex flex-col medium-sc:flex-row justify-center space-y-4 medium-sc:space-y-0 medium-sc:space-x-4">
        <div class="bg-white rounded-lg shadow-md p-4 min-w-[300px]">
            <div class="pt-4 text-center border-b border-black pb-4">
                <h3 class="text-xl font-semibold">Lumière Publishing NV</h3>
                <p>
                    Adres: Hof Ter Mere 28<br/>
                    9000 Gent<br/>
                    Tel: +32 (0) 9 277 05 20<br/>
                    Fax: +32 (0) 9 277 05 29<br/>
                    E-mail: info@lumiere.be<br/>
                    BTW-nr: BE 0473 407 114<br/>
                    IBAN: BE34 7370 1128 5890<br/>
                    BIC/Swift code: KREDBEBB<br/>
                </p>
            </div>
        </div>

        <div class="bg-white rounded-lg shadow-md p-4 min-w-[300px]">
            <div class="pt-4 text-center border-b border-black pb-4">
                <h3 class="text-xl font-semibold">Lumière Publishing BV</h3>
                <p>
                    Adres: Roerstraat 10-H<br/>
                    1078 LN Amsterdam<br/>
                    E-mail: info@lumiere.be<br/>
                    KVK-nummer: 52174891<br/>
                    BTW-nummer: NL850329644B01<br/>
                    IBAN: NL53KRED0633095907<br/>
                    BIC/Swift code: KREDNL2X
                </p>
            </div>
        </div>

        <div class="bg-white rounded-lg shadow-md p-4 min-w-[300px]">
            <div class="pt-4 text-center">
                <h3 class="text-xl font-semibold">Lumière Cinema</h3>
                <p>
                    E-mail: info@lumierecinema.be<br/>
                    BTW-nummer: BE0460 634 489<br/>
                    IBAN: BE26 5230 8013 6829<br/>
                    BIC/Swift code: TRIOBEBB<br/>
                    <br/>
                    <strong>Lunanime</strong><br/>
                    E-mail: info@lunanime.be<br/>
                    BTW-nummer: BE0439 100 984<br/>
                    IBAN: BE04 7370 2347 2831<br/>
                    BIC/Swift code: KREDBEBB
                </p>
            </div>
        </div>
    </div>
</div>