@page "/over-ons"
<PageTitle>Over ons</PageTitle>

<h1 class="mt-8 mb-8 text-center text-4xl font-semibold">Over ons</h1>

<div class="flex flex-col items-center max-w-[1296px] mx-auto p-5 bg-white rounded-xl shadow-[0_0_10px_rgba(0,0,0,0.1)]">
    <p>
        Sinds 1996 brengt Lumière de beste verhalen naar het grote scherm. Wat begon in Brugge met 1 cinema groeide uit tot een onderneming die vandaag actief is in alle geledingen van de filmsector: productie, distributie, filmfinanciering en cinema-exploitatie. Films als La Meglio Gioventù, Boyhood en Girl doen waarschijnlijk wel een belletje rinkelen. Lumière produceert ook zelf prachtige animatie- en fictieprojecten, zoals het Oscargenomineerde Van de kat geen kwaad, de Ketnet-reeks Ollie en films zoals Cleo, Le Ciel Flamand, Funan en Josep.
        <br /><br />
        Lumière gelooft in de kracht van stadsbioscopen, waarbij je als bezoeker in een bloeiende stad kunt genieten van filmbeleving met een drankje en/of hapje voor- of nadien. De cinema als plek waar een film in optimale omstandigheden haar publiek vindt en bijdraagt tot een bloeiende filmcultuur en -industrie. Daartoe redde Lumière in 2014 Cinema Cartoon’s in Antwerpen van het faillissement en maakte van Cartoon’s opnieuw een bloeiende cinema. Eind 2019 startte de uitbating van 2 nieuwe zalen in het FOMU in Antwerpen en doopte dit Cinema Lumière Antwerpen. Naast Brugge en Antwerpen is Mechelen nu de vierde Lumière cinema.
    </p>
    <img src="/images/overOns2.jpg" alt="image" class="mt-5" />
</div>
