@code {
    [Parameter] public string  Title { get; set; } = string.Empty;
    [Parameter] public string Location { get; set; }= string.Empty;
    [Parameter] public string DateTime { get; set; }= string.Empty;
}

<div class="border border-gray-200 rounded-lg p-6 flex items-center shadow hover:shadow-lg transition-shadow">
    <div class="text-blue-600 mr-6">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M34.924 13.076C37.2454 15.3975 38.8572 13.7857 38.8572 13.7857L41.803 16.7315C42.7402 17.6688 42.7402 19.1884 41.803 20.1257L20.1257 41.803C19.1884 42.7402 17.6688 42.7402 16.7315 41.803L13.7857 38.8572C13.7857 38.8572 15.3975 37.2454 13.076 34.924C10.7546 32.6026 9.14289 34.2143 9.14289 34.2143L6.19708 31.2685C5.25983 30.3313 5.25983 28.8117 6.19708 27.8744L27.8744 6.19708C28.8117 5.25983 30.3313 5.25983 31.2685 6.19708L34.2143 9.14289C34.2143 9.14289 32.6026 10.7546 34.924 13.076ZM16.6703 38.1465C16.6609 38.2042 16.6506 38.2609 16.6393 38.3167L18.4286 40.1059L21.3024 37.2322L10.7679 26.6977L7.89414 29.5715L9.6834 31.3607C9.73913 31.3495 9.79585 31.3392 9.85357 31.3298C11.4443 31.071 13.1718 31.6257 14.7731 33.227C16.3744 34.8282 16.9291 36.5558 16.6703 38.1465ZM12.465 25.0006L22.9994 35.5351L40.1059 18.4286L38.3167 16.6393C38.2609 16.6506 38.2042 16.6609 38.1465 16.6703C36.5558 16.9291 34.8282 16.3744 33.227 14.7731C31.6257 13.1718 31.071 11.4443 31.3298 9.85357C31.3392 9.79585 31.3495 9.73913 31.3607 9.6834L29.5715 7.89414L12.465 25.0006ZM18.0974 24.3649L28.5439 13.9184L30.1108 15.4854L19.6644 25.9318L18.0974 24.3649ZM32.2001 17.5747L21.7537 28.0211L23.3207 29.5881L33.7671 19.1416L32.2001 17.5747Z" fill="#002548"/>
        </svg>
    </div>
    <div>
        <h3 class="text-xl font-semibold">@Title</h3>
        <p class="text-gray-600">@Location</p>
        <p class="text-gray-500">@DateTime</p>
    </div>
</div>