@inherits LayoutComponentBase

<footer class="text-center bg-[white] w-full max-h-[120px] static p-5 border-t-[black] border-t border-solid">
    <div class="footer-content flex justify-between items-center flex-col">
        <p>&copy; 2024 Lumière. Alle rechten voorbehouden.</p>
        <div class="footer-items flex gap-5">
            <div class="footer-links flex gap-5">
                <a href="/over-ons" class='no-underline text-[black] hover:underline'>Over ons</a>
                <a href="/contact" class='no-underline text-[black] hover:underline'>Contact</a>
            </div>
            <div class="social-media-icons flex gap-5">
                <a href="https://facebook.com" target="_blank"
                    class="facebook-icon text-[black] text-2xl hover:text-[#4267b2]">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://instagram.com" target="_blank"
                    class="instagram-icon text-[black] text-2xl hover:text-[#e1306c]">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer>