@inherits LayoutComponentBase

<div class="flex flex-col min-h-screen">

    <main class="flex-1">
        <Navbar />
        <article class="pt-18">
            @Body
        </article>
    </main>
    <Footer />
</div>