<section class="mb-10 pl-6">
    <h2 class="text-2xl font-semibold mb-4">Welkom!</h2>
    <p class="text-lg">
        Welkom op uw accountpagina. Hier kunt u uw watchlist, tickets en tienbeurtenkaarten raadplegen.
    </p>
</section>
