@page "/account/tenturncard/activateCard"

@using Rise.Client.Tenturncards.Components
@using Rise.Shared.Tenturncards

<div class="flex h-screen mt-0 relative min-h-screen" >
    <Sidebar />

    <div class="flex-1 p-6 overflow-y-auto overflow-x-auto">
        <div class="flex justify-start items-center space-x-4 mt-4">
            <h3 class="text-lg font-bold">Voeg een tienbeurtenkaart toe</h3>
        </div>

        <div class="mt-16">
            <TenTurnCardActivate />
        </div>
    </div>
</div>